<div *ngIf="msgErro" style="background-color: red;">{{msgErro}}</div>

<p-table [columns]="cols" [value]="users" dataKey="name" [paginator]="true" [rows]="5">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 3em"></th>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
        <tr>
            <td>
                <a href="#" [pRowToggler]="rowData">
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                </a>
            </td>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr>
            <td></td>
            <td colspan="2">
                <div class="p-col-12">
                    <label style="font-weight: bold;">Endereço</label>
                </div>    
                <div class="p-col-12">
                    <label>Rua: </label>
                    {{rowData.address.street}}
                </div>    
                <div class="p-col-12">
                    <label>Suite: </label>
                    {{rowData.address.suite}}
                </div>    
                <div class="p-col-12">
                    <label>Cidade: </label>
                    {{rowData.address.city}}
                </div>    
                <div class="p-col-12">
                    <label>Cep: </label>
                    {{rowData.address.zipcode}}
                </div>

            </td>
            <td colspan="2">
                <div class="p-col-12">
                    <label style="font-weight: bold;">Companhia</label>
                </div>    
                <div class="p-col-12">
                    <label>Nome: </label>
                    {{rowData.company.name}}
                </div>    
                <div class="p-col-12">
                    <label>Phrase: </label>
                    {{rowData.company.catchPhrase}}
                </div>    
                <div class="p-col-12">
                    <label>BS: </label>
                    {{rowData.company.bs}}
                </div>    

            </td>

        </tr>
    </ng-template>
</p-table>