
<div class="container">
<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/primeiro" routerLinkActive="active">Prime NG Accordion</a></li>
    <li><a routerLink="/segundo" routerLinkActive="active">Prime NG Calendar</a></li>
    <li><a routerLink="/todos" routerLinkActive="active">Todos Fake Json</a></li>
    <li><a routerLink="/users" routerLinkActive="active">Users Fake Json</a></li>
    <li><a routerLink="/eventos" routerLinkActive="active">Eventos em componentes</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
</div>